*{
    margin: 0px;
    padding: 0px;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    width: 115px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: left;
    position: relative;
    border-radius: 20px;
    color: black;
}
#menu ul li:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}
#menu ul ul{
    position: absolute;
    top: 50px;
    left: 0px;
    display: none;
}
#menu ul li:hover > ul{
    display: block;
    
}
#blu{
    background-color: blue;
    color: white !important;
    font-weight: bold;
}
#menu ul li ul li{
    text-align: left !important;
    width: 200px;
    background-color: white;
    color: gray;
    border-radius: 0px;
}
#menu ul li ul li ul{
    margin-left: 210px;
    top: 0px;
    width: 200px;
    background-color: white;
    color: gray;
    border-radius: 0px;
}
.donation li{
    width: 150px !important;
}
.flex1{
    display: flex;
    flex-direction: row;
}


